{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="col-md-6">
    <form method="post">
        <label for="title">Title</label>
        <input autocomplete="off" autofocus class ="form-control"
            name="title" 
            id="title" 
            value="{{ request.form['title'] }}" required>
        <label for="body">Body</label>
        <textarea class="form-control" rows="10"
            name="body" 
            id="body">{{ request.form['body'] }}</textarea>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
{% endblock %}